<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Volo</title>
</head>
<body>

<!-- Nella pagina saranno inseriti tutti i dettagli più specifici di un determinato volo. I valori mostrati sono:
    - Partenza dettagliata
    - Arrivo dettagliato
    - Orari
    - Mappa di completamento
    - E altro...

    Se sei admin, verrà mostrato anche il bottone "Modifica" per modificare il volo
-->

<div th:if="${volo}" class="box-container" th:object="${volo}">
    <div class="container">
        <h1 th:text=" 'Codice volo: ' + *{codiceVolo}"></h1>
        <div>
            Aereoporto di imbarco:
            <span th:text="*{aereoportoPartenza}"></span>
        </div>
        <div>
            Regista:
            <span th:if="*{regista}"
                  th:text="${movie.regista.nome} + ' ' + ${movie.regista.cognome}"> regista </span>
            <span th:unless="*{regista}"> Nessun regista </span>
        </div>
        <div>
            Attori: <span th:if="*{attori.isEmpty()}"> Non ci sono attori </span>
            <div>
                <ul>
                    <li th:each="movieActor : ${movie.attori}">
                        <span th:text="${movieActor.nome} + ' ' + ${movieActor.cognome}">Nome Cognome</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:unless="${volo}">Volo non presente</div>
</body>
</html>