<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Nella pagina verrà presento il sito, mostrando una front page di locandina. Subito sopra, nell'header sarà presente
     il bottone per il login. Sotto la presentazione sarà presente un'interazione per passare alla lista di tutti i voli.
     sarà anche presente un'interazione per accedere alla pagina dell'utente-->
    <h1>SDROGO PAZZO CLAMOROSO MISERICORDIOSO</h1>
</body>
</html>