<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voli</title>
    <link rel="stylesheet" href="/css/stileBottonePreferiti.css?version=2"/>
    <!-- Per l'icona -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Per l'icona della freccia -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="text/javascript">
        function like() {
            var heartIcon = document.getElementById('heart-icon');
            var button = document.querySelector('.like-button');
            if (button.textContent === 'LIKE') {
                button.textContent = 'LIKED';
                heartIcon.classList.remove('bi-suit-heart');
                heartIcon.classList.add('bi-suit-heart-fill');
            } else {
                button.textContent = 'LIKE';
                heartIcon.classList.remove('bi-suit-heart-fill');
                heartIcon.classList.add('bi-suit-heart');
            }
            button.disabled = false;
        }
    </script>
</head>
<body>
<!-- Nella pagina saranno mostrati tutti i voli presenti nel database non terminati. All'inizio della pagina verrà
mostrato il filtro figo per la decisione delle destinazioni. in fondo la lista mostrerà il volo, con le destinazioni, l'orario di
 partenza e arrivo, e se attualmente il volo sta venendo modificato
 th:href="@{'/volo' + '/' + ${volo.id}}"
 -->
<header>
    <span th:if="${authUser}" th:text="${authUser.username}"></span>
    <span th:if="${userDetails}" th:text="${userDetails.username}"></span>
    <a th:if="${authUser != null || userDetails != null}" href="/logout">Logout</a>

    <!-- Torna indietro loggato -->
    <a th:if="${authUser != null || userDetails != null}" href="/success" class="freccia-indietro">
        <i class="fas fa-arrow-left"></i>
        Torna indietro
    </a>

    <!-- Torna indietro base -->
    <a th:unless="${authUser != null || userDetails != null}" href="/success" class="freccia-indietro">
        <i class="fas fa-arrow-left"></i>
        Torna indietro
    </a>
</header>

<h1>Voli</h1>
<div th:if="${voli.isEmpty() && preferiti.isEmpty()}" class="container">Non ci sono voli nel sistema</div>

<ul>
    <li th:each="volo : ${voli}">
        <div th:object="${volo}">
            <a th:href="@{'/autenticato/volo' + '/' + *{id}}"
               th:text="*{aereoportoPartenza.nome} + ' -> ' + *{aereoportoArrivo.nome}" class="volo">Da -> A</a>
            <a class="like-button" th:href="@{'/autenticato/voli/addPreferiti/' + *{id}}" onclick="like()">
                <i id="heart-icon" class="bi bi-suit-heart"></i>
                LIKE
            </a>
        </div>
    </li>
</ul>
<ul>
    <li th:each="preferito : ${preferiti}">
        <div th:object="${preferito}">
            <a th:href="@{'/autenticato/volo' + '/' + *{id}}"
               th:text="*{aereoportoPartenza.nome} + ' -> ' + *{aereoportoArrivo.nome}" class="volo">Da -> A</a>
            <a class="like-button" th:href="@{'/autenticato/voli/removePreferiti/' + *{id}}" onclick="like()">
                <i id="heart-icon" class="bi bi-suit-heart-fill"></i>
                LIKED
            </a>
        </div>
    </li>
</ul>
</body>
</html>