<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Volo</title>
</head>
<body>

<!-- Pagina con form di inserimento dei dati del volo, in cui saranno per forza inseriti tutti.
Sotto le form sarà presente un bottone per confermare l'inserimento o per annullarlo-->
<form th:action="@{/admin/nuovoVolo}" method="post">

    <div>
        <label> Aereoporto di partenza </label>
        <span>
            <input type="text" required name="aereoportoP"/>
        </span>
    </div>
    <div>
        <label> Aereoporto di arrivo </label>
        <span>
            <input type="text" required name="aereoportoA"/>
        </span>
    </div>
    <div>
        <label> Data partenza </label>
        <span>
            <input type="date" required name="dataP"/>
        </span>
    </div>
    <div>
        <label> Orario imbarco </label>
        <span>
            <input type="time" required name="oraP"/>
        </span>
    </div>
    <div>
        <label> Orario sbarco </label>
        <span>
            <input type="time" required name="oraS"/>
        </span>
    </div>

    <button type="submit">Registra volo</button>
    <button type="reset">Annulla registrazione</button>
</form>

</body>
</html>